{% set category={'Artist':''} %}
{# category updated in descLine and used in ending  #}

{%- macro infobox(Image,Name, Name_in_native_language, Birthname, Alternate_Name, wiki_DOB,DOD,Actor_POB, Gender,Citizenship, wiki_occupation,
Work_period_start,Work_period_end,Height,Star_Sign,Ethnic_group,wiki_spouse_name,Child_Name,Father_Name, Mother_Name,wiki_siblings,Relatives,Signature_image) -%}
	{{'{{Infobox Artist}}'}}
		
		{%- if Name is not float -%}
			|  పేరు 	= {{Name}}
		{% endif %}
		{%- if Alternate_Name is not float -%}
			| ఇతర పేర్లు	= {{Alternate_Name}}
		{% endif %}
		{%- if Name_in_native_language is not float -%}
			| స్థానిక భాషలో పేరు		= {{Name_in_native_language}}
		{% endif %}
		{%- if Birthname is not float -%}
			| పుట్టిన పేరు	= {{Birthname}}
		{% endif %}
		{%- if wiki_DOB is not float -%}
			| జననం 	= {{wiki_DOB}}
		{% endif %}
		{%- if DOD is not float -%}
			| మరణం	= {{DOD}}
		{% endif %}
		{%- if Actor_POB is not float -%}
			| పుట్టిన ప్రదేశం = {{Actor_POB}}
		{% endif %}
		{%- if Gender is not float -%}
			| లింగం = {{Gender}}
		{% endif %}
		{%- if Citizenship is not float -%}
			| పౌరసత్వం	= {{Citizenship}}
		{% endif %}
		{%- if wiki_occupation is not float -%}
			| వృత్తి	= {{wiki_occupation}}
		{% endif %}
		{%- if Work_period_start is not float and Work_period_end is not float -%}
			| క్రియాశీల సంవత్సరాలు	= {{Work_period_start}} -- {{Work_period_end}}
		{%- elif Work_period_start is not float and Work_period_end is float -%}
			| సినీ జీవితం మొదలు	= {{Work_period_start}}
		{% endif %}
		{%- if Height is not float -%}
			| ఎత్తు	= {{Height}}
		{% endif %}
		{%- if Star_Sign is not float -%}
			| నక్షత్రం గుర్తు	= {{Star_Sign}}
		{% endif %}
		{%- if Ethnic_group is not float -%}
			| సాంప్రదాయిక సంఘం	= {{Ethnic_group}}
		{% endif %}
		{%- if wiki_spouse_name is not float -%}
			| జీవిత భాగస్వామి	= {{wiki_spouse_name}}
		{% endif %}
		{%- if Child_Name is not float -%}
			| పిల్లలు = {{Child_Name}}
		{% endif %}
		{%- if Father_Name is not float -%}
			| తండ్రి  	= {{Father_Name}}
		{% endif %}
		{%- if Mother_Name is not float -%}
			| తల్లి	= {{Mother_Name}}
		{% endif %}
		{%- if wiki_siblings is not float -%}
			| తోబుట్టువులు = {{wiki_siblings}}
		{% endif %}
		{%- if Relatives is not float -%}
			| బంధువులు= {{Relatives}}
		{% endif %}
	{{'}}\n'}}
{%- endmacro -%}

{{- infobox(Image,Name, Name_in_native_language, Birthname, Alternate_Name, wiki_DOB,DOD,Actor_POB, Gender,Citizenship, wiki_occupation,
Work_period_start,Work_period_end,Height,Star_Sign,Ethnic_group,wiki_spouse_name,Child_Name,Father_Name, Mother_Name,wiki_siblings,Relatives,Signature_image) -}}
