{%- macro introduction(Name,Gender,filmo_occupation,filmo_all_film_ocupations,lenf,lenl,Citizenship,Native_language,Languages_spoken,Name_in_native_language,debut_films,latest_films,occup1_num,occup2_num,occup3_num,occup4_num) -%}
{%-set line=Name+ ' ఒక ' +filmo_occupation[0]+'. '-%}{{line}} 
{%-if Gender=="female"-%}
{%-if filmo_all_film_ocupations is not float-%}
{%-if lenf is not float and lenf==2-%}
{%-set lineoccf=filmo_all_film_ocupations[1:]-%}{{lineoccf}} విభాగం లో ప్రసిద్ధి చెందినది. 
{%- else-%}
{%-set lineoccf=filmo_all_film_ocupations[1:]-%}{%-endif-%}{{lineoccf}} విభాగాల లో కూడా ప్రసిద్ధి చెందినది.
{%-endif-%}
{%-if Citizenship is not float-%}
{%-set linecityf='ఈమెకు ' +Citizenship+ ' పౌరసత్వం కలదు. '-%}{%-endif-%}{{linecityf}}
{%-if Native_language is not float-%}
{%-set linenativef='ఈమె స్థానిక భాష ' +Native_language+ '. '-%}{%-endif-%}{{linenativef}}
{%-if Languages_spoken is not float-%}
{%-if lenf is not float and lenf==1-%}
{%-set linelangf=Name+' '+Languages_spoken+ ' భాష కూడా మాట్లాడగలదు. '-%}{{linelangf}}
{%-else-%}
{%-set linelangf=Name+' '+Languages_spoken+ ' భాషలు మాట్లాడగలదు. '-%}{%-endif-%}{{linelangf}}
{%-endif-%}
{%-if Name_in_native_language is not float-%}
{%-set linennf='వారి ప్రాంతీయ భాషలో ఆమె పేరు ' +Name_in_native_language+ ' ఇలా రాస్తారు. '-%}{%-endif-%}{{linennf}}
{%-if debut_films is not float-%}
{%-set linedebutf=debut_films[0]+' లో '+debut_films[1]+' సినిమాతో తెరంగ్రేటం చేసింది. '-%}{%-endif-%}{{linedebutf}}
{%-if latest_films is not float-%}
{%-set linelatestf='ఇటీవల ' +latest_films[0]+ ' లో ' +latest_films[1]+  ' తో ప్రజల ముందుకు వచ్చింది. '-%}{%-endif-%}{{linelatestf}}
{%-if occup1_num is not float and occup2_num is not float and occup3_num is not float and occup4_num is not float-%}
{%-set lineonumf=occup1_num+occup2_num+occup3_num+occup4_num-%}{%-endif-%}{{Name}} వివిధ రంగాలలో కలిపి మొత్తం {{lineonumf}} సినిమాలలో పని చేసింది. 
{%-else-%}
{%-if filmo_all_film_ocupations is not float-%}
{%-set lineoccm=filmo_all_film_ocupations[1:]-%}{%-endif-%}{{lineoccm}} విభాగాల లో కూడా ప్రసిద్ధి చెందాడు. 
{%-if Citizenship is not float-%}
{%-set linecitym='ఇతడికి ' +{{Citizenship}}+ ' పౌరసత్వం కలదు. '-%}{%-endif-%}{{linecitym}}
{%-if Native_language is not float-%}
{%-set linenativem='ఇతడి స్థానిక భాష ' +Native_language+ '. '-%}{%-endif-%}{{linenativem}}
{%-if Languages_spoken is not float-%}
{%-set linelangm=Name+' '+Languages_spoken+ ' భాషలు మాట్లాడగలడు. '-%}{%-endif-%}{{linelangm}}
{%-if Name_in_native_language is not float-%}
{%-set linennm='వారి ప్రాంతీయ భాషలో అతని పేరు ' +Name_in_native_language+ ' ఇలా రాస్తారు. '-%}{%-endif-%}{{linennm}}
{%-if debut_films is not float-%}
{%-set linedebutm=debut_films[0]+ ' లో ' +debut_films[1]+ ' సినిమాతో తెరంగ్రేటం చేసాడు. '-%}{%-endif-%}{{linedebutm}}
{%-if latest_films is not float-%}
{%-set linelatestfm='ఇటీవల ' +latest_films[0]+ ' లో ' +latest_films[1]+  ' తో ప్రజల ముందుకు వచ్చాడు. '-%}{%-endif-%}{{linelatestfm}}
{%-if occup1_num is not float and occup2_num is not float and occup3_num is not float and occup4_num is not float-%}
{%-set lineonumf=occup1_num+occup2_num+occup3_num+occup4_num-%}{%- endif -%}{{Name}} వివిధ రంగాలలో కలిపి మొత్తం {{lineonumf}} సినిమాలలో పని చేశాడు.{%-endif-%}{%-endmacro-%}

{%- macro personal_life(Name,Gender,wiki_DOB,Actor_POB,Birthname,Alternate_Name,Father_Name,Mother_Name,wiki_siblings,wiki_family_name,Relatives,wiki_spouse_name,Child_Name,DOD) -%}
{%-if Gender=="female"-%}
{%-if Name is not float and wiki_DOB is not float and Actor_POB is not float-%}
{%-set linepf=Name+' '+wiki_DOB+' తేదీన '+Actor_POB+' లో జన్మించింది.'-%}{%-endif-%}{{linepf}}
{%-if Birthname is not float-%}
{%-set linebf='తన అసలు పేరు '+Birthname-%}{%-endif-%}{{linebf}}
{%-if Alternate_Name is not float and Name is not float-%}
{%-set lineaf=Name+'ని '+Alternate_Name+' అనే పేరుతో/పేర్లతో కూడా పిలుస్తారు. '-%}{%-endif-%}{{lineaf}}
{%-if Father_Name is not float and Mother_Name is not float-%}
{%-set linepaf='ఈమె తల్లిదండ్రులు '+Father_Name+', '+Mother_Name+'. '-%}{%-endif-%}{{linepaf}}
{%-if wiki_family_name is not float-%}
{%-set lineff=wiki_family_name+' ఈమె ఇంటి పేరు. '-%}{%-endif-%}{{lineff}}
{%-if wiki_siblings is not float-%}
{%-set linesf=wiki_siblings+' ఈమె తోబుట్టువులు. '-%}{%-endif-%}{{linesf}}
{%-if Name is not float and wiki_spouse_name is not float-%}
{%-set linespf=Name+' జీవిత భాగస్వామి '+wiki_spouse_name+'. '-%}{%-endif-%}{{linespf}}
{%-if Child_Name is not float-%}
{%-set linecf=Child_Name+' వారి సంతానం. '-%}{%-endif-%}{{linecf}}
{%-if Relatives is not float-%}
{%-set linerf='చిత్ర పరిశ్రమలో ఈమె బంధువులు '+Relatives+'. '-%}{%-endif-%}{{linerf}}
{%-if DOD is not float-%}
{%-set linedf=DOD+' తేదీన మరణించింది. '-%}{%-endif-%}{{linedf}}

{%-else-%}
{%-if Name is not float and wiki_DOB is not float and Actor_POB is not float-%}
{%-set linepm=Name+' '+wiki_DOB+' తేదీన '+Actor_POB+' లో జన్మించాడు.'-%}{%-endif-%}{{linepm}}
{%-if Birthname is not float-%}
{%-set linebm='తన అసలు పేరు '+Birthname-%}{%-endif-%}{{linebm}}
{%-if Alternate_Name is not float and Name is not float-%}
{%-set lineam=Name+'ని '+Alternate_Name+' అనే పేరుతో/పేర్లతో కూడా పిలుస్తారు. '-%}{%-endif-%}{{lineam}}
{%-if Father_Name is not float and Mother_Name is not float-%}
{%-set linepam='ఇతడి తల్లిదండ్రులు '+Father_Name+', '+Mother_Name+'. '-%}{%-endif-%}{{linepam}}
{%-if wiki_family_name is not float-%}
{%-set linefm=wiki_family_name+' ఇతడి ఇంటి పేరు. '-%}{%-endif-%}{{linefm}}
{%-if wiki_siblings is not float-%}
{%-set linesm=wiki_siblings+' ఇతడి తోబుట్టువులు. '-%}{%-endif-%}{{linesm}}
{%-if Name is not float and wiki_spouse_name is not float-%}
{%-set linespm=Name+' జీవిత భాగస్వామి '+wiki_spouse_name+'. '-%}{%-endif-%}{{linespm}}
{%-if Child_Name is not float-%}
{%-set linecm=Child_Name+' వారి సంతానం. '-%}{%-endif-%}{{linecm}}
{%-if Relatives is not float-%}
{%-set linerm='చిత్ర పరిశ్రమలో ఇతడి బంధువులు '+Relatives+'. '-%}{%-endif-%}{{linerm}}
{%-if DOD is not float-%}
{%-set linedm=DOD+' తేదీన మరణించాడు. '-%}{%-endif-%}{{linedm}}
{%-endif-%}{%-endmacro-%}

{{- introduction(Name,Gender,filmo_occupation,filmo_all_film_ocupations,Citizenship,lenf,lenl,Native_language,Languages_spoken,Name_in_native_language,debut_films,latest_films,occup1_num,occup2_num,occup3_num,occup4_num) }}
{{- personal_life(Name,Gender,wiki_DOB,Actor_POB,Birthname,Alternate_Name,Father_Name,Mother_Name,wiki_siblings,wiki_family_name,Relatives,wiki_spouse_name,Child_Name,DOD) }}
