{% set category={'Artist':''} %}
{# category updated in descLine and used in ending  #}

{% macro infobox(Image,Name, Name_in_native_language, Birthname, Alternate_Name, wiki_DOB,DOD,Actor_POB, Gender,Citizenship, wiki_occupation,
Work_period_start,Work_period_end,Height,Star_Sign,Ethnic_group,wiki_spouse_name,Child_Name,Father_Name, Mother_Name,wiki_siblings,Relatives,Signature_image) %}
	{{'{{Infobox artist'}}
	{%- if Name is not float -%}
	| name 	= {{Name}}
	{% endif %}
	{%- if Image is not float -%}
	| image            = {{Image}}
	| caption          = Image of {{Name}}
	{% endif %}
	{%- if Name_in_native_language is not float -%}
	| native_name		= {{Name_in_native_language}}
	{% endif %}
	{%- if Birthname is not float -%}
	| 	birth_name= {{Birthname}}
	{% endif %}
	{%- if wiki_DOB is not float -%}
	| birth_date 	= {{wiki_DOB}}
	{% endif %}
	{%- if DOD is not float -%}
	| death_date	= {{DOD}}
	{% endif %}
	{%- if Actor_POB is not float -%}
	| birth_place = {{Actor_POB}}
	{% endif %}
	{%- if Citizenship is not float -%}
	| nationality	= {{Citizenship}}
	{% endif %}
	{%- if wiki_occupation is not float -%}
	| known_for	= {{wiki_occupation}}
	{% endif %}
	{%- if Ethnic_group is not float -%}
	| module	= {{Ethnic_group}}
	{% endif %}
	{%- if wiki_spouse_name is not float -%}
	| spouse= {{wiki_spouse_name}}
	{% endif %}
	{%- if Child_Name is not float -%}
	| partner = {{Child_Name}}
	{% endif %}
	{%- if Father_Name is not float -%}
	| father  	= {{Father_Name}}
	{% endif %}
	{%- if Mother_Name is not float -%}
	| mother	= {{Mother_Name}}
	{% endif %}
	{%- if Relatives is not float -%}
	| relatives= {{Relatives}}
	{% endif %}
	{{'}}\n'}}
{%- endmacro -%}

{{infobox(Image,Name, Name_in_native_language, Birthname, Alternate_Name, wiki_DOB,DOD,Actor_POB, Gender,Citizenship, wiki_occupation,
Work_period_start,Work_period_end,Height,Star_Sign,Ethnic_group,wiki_spouse_name,Child_Name,Father_Name, Mother_Name,wiki_siblings,Relatives,Signature_image) -}}
