{% set category={'Artist':''} %}
{# category updated in descLine and used in ending  #}

{% macro infobox(IMDB_id,Image,Name, Name_in_native_languageinfo, Birthname, Alternate_Name, wiki_DOB,DOD,Actor_POB, Genderinfo,Citizenship, wiki_occupation,
Work_period_start,twitterid,instaid,wiki_DOB_year,wiki_family_name,Work_period_end,Height,Star_Sign,Ethnic_group,wiki_spouse_name,Child_Name,Father_Name, Mother_Name,Wiki_commons_category,wiki_siblings,Relatives,Signature_image) %}
    {{'{{Infobox person'}}
    {%- if Name is not float -%}
    | name = {{Name}}
    {% endif %}
    {%- if Image is not float -%}                           
    | image= [[File:{{Image}}|thumb]]
    | caption = Image of {{Name}}
    {% endif %}
    {%- if Name_in_native_languageinfo is not float -%}
    | native_name= {{Name_in_native_languageinfo}}
    {% endif %}
    {%- if Birthname is not float -%}
    | 	birth_name= {{Birthname}}
    {% endif %}
    {%- if wiki_DOB is not float -%}
    | birth_date 	= {{wiki_DOB}}
    {% endif %}
    {%- if DOD is not float -%}
    | death_date	= {{DOD}}
    {% endif %}
    {%- if Actor_POB is not float -%}
    | birth_place = {{Actor_POB}}
    {% endif %}
    {%- if Citizenship is not float -%}
    | citizenship	= {{Citizenship}}
    {% endif %}
    {%- if Alternate_Name is not float -%}
    | other_names	= {{Alternate_Name}}
    {% endif %}
    {%- if wiki_occupation is not float -%}
    | occupation = {{wiki_occupation}}
    {% endif %}
    {%- if Work_period_start is not float and Work_period_end is not float -%}
    | years_active	= {{Work_period_start}} -- {{Work_period_end}}
    {%- elif Work_period_start is not float and Work_period_end is float -%}
    | years_active	= {{Work_period_start}} నుండి మొదలు
    {% endif %}
    {%- if Height is not float -%}
    | height  = {{Height}}
    {% endif %}
    {%- if wiki_spouse_name is not float -%}
    | spouse  = {{wiki_spouse_name}}
    {% endif %}
    {%- if Child_Name is not float -%}
    | children  = {{Child_Name}}
    {% endif %}
    {%- if Father_Name is not float -%}
    | father  = {{Father_Name}}
    {% endif %}
    {%- if Mother_Name is not float -%}
    | mother  = {{Mother_Name}}
    {% endif %}
    {%- if Relatives is not float -%}
    | relatives  = {{Relatives}}
    {% endif %}
    {%- if wiki_siblings is not float -%}
    | family  = {{wiki_siblings}} (తోబుట్టువులు)
    {% endif %}
    {%- if Signature_image is not float -%}
    | signature  = [[File:{{Signature_image}}|thumb]]
    {% endif %}
{{'}}\n'}}
{%- endmacro -%}


{#intro for the actors#}

{%- macro introduction(IMDB_id,Name,Gender,filmo_occupation,filmo_all_film_ocupations,debut_filmsip,latest_filmsip,present_date,lenl,lenn,lenf,lenalter,Citizenship,lenc,Native_language,Languages_spoken,Name_in_native_language,debut_filmsf,latest_filmsf,occup1_num,occup2_num,occup3_num,occup4_num) -%}



{# for female actors #}
{%-if Gender=="female" or Gender=="transgender female"-%}
{%-if Name is not float and filmo_occupation is not float-%}
{%-set line=Name+ ' ఒక ' +filmo_occupation[0]+' గా ప్రసిద్ధి చెందింది. '-%}{{line}}{%endif%} 

{%-if filmo_all_film_ocupations is not float-%}
{%-if lenf is not float and lenf==1-%}
{%-set lineoccf1=
filmo_all_film_ocupations-%}{{lineoccf1}} విభాగం లో కూడా పని చేసింది. 
{%- else-%}
{%-set lineoccf=filmo_all_film_ocupations-%}{{lineoccf}} విభాగాల లో కూడా పని చేసింది. {%-endif-%}
{%-endif-%}



{%-if Citizenship is not float-%}
{%- if lenc is not float and lenc==1 -%}
{%-set linecityf1='ఈమెకు ' +Citizenship+' పౌరసత్వం కలదు. '-%}{{linecityf1}}
{%- else -%}
{%-set linecityf=[  'ఈమెకు ' +Citizenship+ ' లాంటి వివిధ దేశాలలో పౌరసత్వం కలదు. ',
                    Citizenship+'లాంటి వివిధ దేశాలలో ను పౌరసత్వం కలదు. '
                    ]|random
-%}
{%-endif-%}{{linecityf}}
{%-endif-%}


{%-if Native_language is not float-%}
{%-if lenn is not float and lenn==1-%}
{%-set linenativef1=['ఈమె స్థానిక భాష ' +Native_language+ '. ',
                    Native_language+ ' ఈమె స్థానిక భాష. ']|random
-%}{{linenativef1}}
{%-else-%}
{%-set linenativef=['ఈమె స్థానిక భాషలు ' +Native_language+ '. ',
                    Native_language+ ' ఈమె స్థానిక భాషలు. ']|random
-%}{{linenativef}}{%-endif-%}
{%-endif-%}



{%-if Languages_spoken is not float-%}
{%-if lenl is not float and lenl==1-%}
{%-set linelangf1=Name+' '+Languages_spoken+ ' భాష కూడా మాట్లాడగలదు. '-%}{{linelangf1}}
{%-else-%}
{%-set linelangf=Name+' '+Languages_spoken+ ' భాషలు మాట్లాడగలదు. '-%}{{linelangf}}{%-endif-%}
{%-endif-%}



{%-if Name_in_native_language is not float-%}
{%-set linennf='ఆమె ప్రాంతీయ భాషలో పేరు ' +Name_in_native_language+ '. '-%}{%-endif-%}{{linennf}}



{%-if debut_filmsf is not float and debut_films is not float-%}
{%-if debut_filmsf[0]!=''-%}
{%-set linedebutf1=[debut_filmsf[0]+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+') సినిమాతో తెరంగ్రేటం చేసింది. ',
                    Name+' '+debut_filmsf[0]+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+ ') సినిమాతో సినీ రంగానికి తొలి పరిచయం అయింది. ',
                    debut_filmsf[0]+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+ ') సినిమాతో ఆమె సినీ జీవితం ప్రారంభం అయింది. '
                    ]|random
-%}{{linedebutf1}}
{%-else-%}
{%-set linedebutf=[debut_filmsf[1]+' ('+debut_filmsip[1]+ ') సినిమాతో తెరంగ్రేటం చేసింది. ',
                   Name+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+ ') సినిమాతో సినీ రంగానికి తొలి పరిచయం అయింది. ',
                   ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+ ') సినిమాతో ఆమె సినీ జీవితం ప్రారంభం అయింది. ']|random
-%}{{linedebutf}}{%-endif-%}
{%-endif-%}



{%-if latest_filmsf is not float and latest_films is not float-%}
{%-if latest_filmsf[0]!=''-%}
{%-if latest_filmsf[0]!=present_date-%}
{%-set linelatestf1='ఇటీవల ' +latest_filmsf[0]+ ' లో ' +latest_filmsf[1]+' ('+latest_filmsip[1]+ ') సినిమాతో ప్రజల ముందుకు వచ్చింది. '-%}{{linelatestf1}}
{%-else-%}  {%-set linelatestf2=latest_filmsf[0]+ ' లో ' +latest_filmsf[1]+' ('+latest_filmsip[1]+ ') సినిమాతో ప్రజల ముందుకు రాబోతుంది. '-%}{{linelatestf2}}{%-endif-%}
{%-else-%}
{%-set linelatestf='ఇటీవల '+latest_filmsf[1]+' ('+latest_filmsip[1]+ ') సినిమాతో ప్రజల ముందుకు వచ్చింది. '-%}{{linelatestf}}{%-endif-%}
{%-endif-%}



{%-if occup1_num is not float and occup2_num is not float and occup3_num is not float and occup4_num is not float-%}
{%-set lineonumf=occup1_num+occup2_num+occup3_num+occup4_num-%}{{Name}} వివిధ పాత్రలలో కలిపి మొత్తం {{lineonumf}} సినిమాలలో పని చేసింది. {%-endif-%} 


{# for male actors #}
{%-else-%}
{%-if Name is not float and filmo_occupation is not float-%}
{%-set line=Name+ ' ఒక ' +filmo_occupation[0]+' గా ప్రసిద్ధి చెందాడు. '-%}{{line}}{%-endif-%} 

{%-if filmo_all_film_ocupations is not float-%}
{%-if lenf is not float and lenf==1-%}
{%-set lineoccm1=filmo_all_film_ocupations-%}{{lineoccm1}} విభాగం లో కూడా పని చేసాడు. 
{%- else -%} 
{%-set lineoccm=filmo_all_film_ocupations-%}{{lineoccm}} విభాగాల లో కూడా పని చేసాడు. {%-endif-%}
{%-endif-%}



{%-if Citizenship is not float-%}
{%- if lenc is not float and lenc==1 -%}
{%-set linecitym1='ఇతడికి ' +Citizenship+ ' పౌరసత్వం కలదు. '-%}{{linecitym1}}
{%- else -%}
{%-set linecitym=[  'ఇతడికి ' +Citizenship+ ' లాంటి వివిధ దేశాలలో పౌరసత్వం కలదు. ',
                    Citizenship+' లాంటి వివిధ దేశాలలో ను పౌరసత్వం కలదు. '
                    ]|random
-%}
{%-endif-%}{{linecitym}}
{%- endif -%}


{%-if Native_language is not float-%}
{%-if lenn is not float and lenn==1-%}
{%-set linenativem1=['ఇతడి స్థానిక భాష ' +Native_language+ '. ',
                    Native_language+ ' ఇతడి స్థానిక భాష. ']|random
-%}{{linenativem1}}
{%-else-%}
{%-set linenativem=['ఇతడి స్థానిక భాషలు ' +Native_language+ '. ',
                    Native_language+ ' ఇతడి స్థానిక భాషలు. ']|random
-%}{{linenativem}}{%-endif-%}
{%-endif-%}


{%-if Languages_spoken is not float-%}
{%-if lenl is not float and lenl==1-%}
{%-set linelangm1=Name+' '+Languages_spoken+ ' భాష కూడా మాట్లాడగలడు. '-%}{{linelangm1}}
{%-else-%}
{%-set linelangm=Name+' '+Languages_spoken+ ' భాషలు మాట్లాడగలడు. '-%}{{linelangm}}{%-endif-%}
{%-endif-%}




{%-if Name_in_native_language is not float-%}
{%-set linennm='అతని ప్రాంతీయ భాషలో పేరు ' +Name_in_native_language+ '. '-%}{%-endif-%}{{linennm}}



{%-if debut_filmsf is not float and debut_films is not float-%}
{%- if debut_filmsf[0]!='' -%}
{%-set linedebutm1=[debut_filmsf[0]+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+') సినిమాతో తెరంగ్రేటం చేసాడు. ',
                    Name+' '+debut_filmsf[0]+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+') సినిమాతో సినీ రంగానికి తొలి పరిచయం అయ్యాడు. ',
                    debut_filmsf[0]+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+') సినిమాతో అతని సినీ జీవితం ప్రారంభం అయింది. '
                    ]|random
-%}{{linedebutm1}}
{%-else-%}
{%-set linedebutm=[debut_filmsf[1]+' ('+debut_filmsip[1]+') సినిమాతో తెరంగ్రేటం చేసాడు. ',
                   Name+ ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+') సినిమాతో సినీ రంగానికి తొలి పరిచయం అయ్యాడు. ',
                   ' లో ' +debut_filmsf[1]+' ('+debut_filmsip[1]+') సినిమాతో అతని సినీ జీవితం ప్రారంభం అయింది. ']|random
-%}{{linedebutm}}{%-endif-%}
{%-endif-%}


{%-if latest_filmsf is not float and latest_films is not float-%}
{%-if latest_filmsf[0]!=''-%}
{%if latest_filmsf[0]!=present_date%}
{%-set linelatestfm1='ఇటీవల ' +latest_filmsf[0]+ ' లో ' +latest_filmsf[1]+' ('+latest_filmsip[1]+') సినిమాతో ప్రజల ముందుకు వచ్చాడు. '-%}{{linelatestfm1}}
{%-else-%}  {%-set linelatestfm2=latest_filmsf[0]+ ' లో ' +latest_filmsf[1]+' ('+latest_filmsip[1]+') సినిమాతో ప్రజల ముందుకు రాబోతున్నాడు. '-%}{{linelatestfm2}}{%-endif-%}
{%-else-%}
{%-set linelatestfm='ఇటీవల ' +latest_filmsf[1]+' ('+latest_filmsip[1]+') సినిమాతో ప్రజల ముందుకు వచ్చాడు. '-%}{%-endif-%}{{linelatestfm}}
{%-endif-%}


{%-if occup1_num is not float and occup2_num is not float and occup3_num is not float and occup4_num is not float-%}
{%-set lineonumm=occup1_num+occup2_num+occup3_num+occup4_num-%}{{Name}} వివిధ పాత్రలలో కలిపి మొత్తం {{lineonumm}} సినిమాలలో పని చేశాడు. {%- endif -%}
{%-endif-%}
{{- '\n' -}}
<ref name='info'>[https://www.imdb.com/name/{{IMDB_id}}/ {{Name}}] imdblink </ref> 



{%-endmacro-%}






{# personal life of the actor #}

{%- macro personal_life(IMDB_id,wiki_data_id,Name,Gender,wiki_DOB,Actor_POB,Birthname,Alternate_Name,lensib,lenrela,Father_Name,Mother_Name,wiki_siblings,wiki_family_name,Relatives,wiki_spouse_namef,wiki_spouse_name,Child_Name,DOD) -%}
{{- '\n' -}}
{{- "==వ్యక్తిగత జీవితం==" -}}
{{- '\n' -}}

{# for female artists #}

{%-if Gender=="female" or Gender=="transgender female"-%}
{%-if Name is not float and wiki_DOB is not float and Actor_POB is not float-%}
{%-set linepf=[Name+' '+wiki_DOB+' తేదీన '+Actor_POB+' లో జన్మించింది. ',
                Name+' జన్మ స్థలం '+Actor_POB+ ', ఆమె '+wiki_DOB+ ' న జన్మించింది. ']|random
-%}{{linepf}}

{%-elif Name is not float and wiki_DOB is not float and Actor_POB is float-%}
{%-set linepdobf=Name+' '+wiki_DOB+' తేదీన జన్మించింది. '-%}{{linepdobf}}

{%-elif Name is not float and wiki_DOB is float and Actor_POB is not float-%}
{%-set linepplacef=[Name+' '+Actor_POB+' లో జన్మించింది. ',
              Name+' జన్మ స్థలం '+Actor_POB+ '. ']|random  
-%}{{linepplacef}}
{%-endif-%}






{%-if Birthname is not float and Name is not float-%}
{%-set linebf=['ఈమె అసలు పేరు '+Birthname+'. ',
               Name+ ' అసలు పేరు ' +Birthname+'. ']|random
-%}{%-endif-%}{{linebf}}

{%-if Alternate_Name is not float and Name is not float-%}
{%-if lenalter is not float and lenalter==1-%}
{%-set lineaf1=Name+' ని '+Alternate_Name+' అనే పేరుతో కూడా పిలుస్తారు. '-%}{{lineaf1}}
{%-else-%}
{%-set lineaf=Name+' ని '+Alternate_Name+' అనే పేర్లతో కూడా పిలుస్తారు. '-%}
{{lineaf}}{%-endif-%}
{%-endif-%}

{%-if Father_Name is not float and Mother_Name is not float-%}
{%-set linepaf='ఈమె తల్లిదండ్రులు '+Father_Name+', '+Mother_Name+'. '-%}{{linepaf}}

{%-elif Father_Name is not float and Mother_Name is float-%}
{%-set linepdadf='ఇతడి తండ్రి పేరు '+Father_Name+'. '-%}{{linepdadf}}

{%-elif Father_Name is float and Mother_Name is not float-%}
{%-set linepmomf='ఇతడి తల్లి పేరు '+Mother_Name+'. '-%}{{linepmomf}}{%-endif-%}


{%-if wiki_family_name is not float-%}
{%-set lineff=wiki_family_name+' ఈమె ఇంటి పేరు. '-%}{%-endif-%}{{lineff}}
{%-if wiki_siblings is not float and lensib is not float-%}
{%-if lensib==1-%}
{%-set lines1f=wiki_siblings+' ఈమె తోబుట్టువు. '-%}{{lines1f}}
{%else%}
{%-set linesf=wiki_siblings+' ఈమె తోబుట్టువులు. '-%}{%-endif-%}{{linesf}}{%-endif-%}

{%-if Name is not float and wiki_spouse_name is not float-%}
{%-set linespouf=Name+' జీవిత భాగస్వామి '+wiki_spouse_namef+'. '-%}{{linespouf}}{%-endif-%}
{%-if Child_Name is not float-%}
{%-set linecf='ఆమె సంతానం '+Child_Name+'. '-%}{%-endif-%}{{linecf}}

{%-if Relatives is not float and lenrela is not float-%}
{%-if lenrela==1-%}
{%-set liner1f='చిత్ర పరిశ్రమలో ఈమె బంధువు '+Relatives+'. '-%}{{liner1f}}
{%-else-%}
{%-set linerf='చిత్ర పరిశ్రమలో ఈమె బంధువులు '+Relatives+'. '-%}{%-endif-%}{{linerf}}{%-endif-%}

{%-if DOD is not float-%}
{%-set linedf=DOD+' తేదీన మరణించింది. '-%}{%-endif-%}{{linedf}}


{# for male artists #}

{%-else-%}
{%-if Name is not float and wiki_DOB is not float and Actor_POB is not float-%}
{%-set linepm=[Name+' '+wiki_DOB+' తేదీన '+Actor_POB+' లో జన్మించాడు. ',
              Name+' జన్మ స్థలం '+Actor_POB+ ', అతడు '+wiki_DOB+ ' న జన్మించాడు. ']|random  
-%}{{linepm}}

{%-elif Name is not float and wiki_DOB is not float and Actor_POB is float-%}
{%-set linepdobm=Name+' '+wiki_DOB+' తేదీన జన్మించాడు. '-%}{{linepdobm}}

{%-elif Name is not float and wiki_DOB is float and Actor_POB is not float-%}
{%-set linepplacem=[Name+' '+Actor_POB+' లో జన్మించాడు. ',
              Name+' జన్మ స్థలం '+Actor_POB+ '. ']|random  
-%}{{linepplacem}}{%-endif-%}

{%-if Birthname is not float and Name is not float-%}
{%-set linebm=['ఇతడి అసలు పేరు '+Birthname+ '. ',
                Name+ ' అసలు పేరు ' +Birthname+'. ']|random
-%}{%-endif-%}{{linebm}}

{%-if Alternate_Name is not float and Name is not float-%}
{%-if lenalter is not float and lenalter==1-%}
{%-set lineam1=Name+' ని '+Alternate_Name+' అనే పేరుతో కూడా పిలుస్తారు. '-%}{{lineam1}}
{%-else-%}
{%-set lineam=Name+' ని '+Alternate_Name+' అనే పేర్లతో కూడా పిలుస్తారు. '-%}
{{lineam}}{%-endif-%}
{%-endif-%}

{%-if Father_Name is not float and Mother_Name is not float-%}
{%-set linepam='ఇతడి తల్లిదండ్రులు '+Father_Name+', '+Mother_Name+'. '-%}{{linepam}}

{%-elif Father_Name is not float and Mother_Name is float-%}
{%-set linepdadm='ఇతడి తండ్రి పేరు '+Father_Name+'. '-%}{{linepdadm}}

{%-elif Father_Name is float and Mother_Name is not float-%}
{%-set linepmomm='ఇతడి తల్లి పేరు '+Mother_Name+'. '-%}{{linepmomm}}{%-endif-%}

{%-if wiki_family_name is not float-%}
{%-set linefm=wiki_family_name+' ఇతడి ఇంటి పేరు. '-%}{%-endif-%}{{linefm}}

{%-if wiki_siblings is not float and lensib is not float-%}
{%-if lensib==1-%}
{%-set lines1m=wiki_siblings+' ఇతడి తోబుట్టువు. '-%}{{lines1m}}
{%else%}
{%-set linesm=wiki_siblings+' ఇతడి తోబుట్టువులు. '-%}{{linesm}}{%-endif-%}{%-endif-%}

{%-if Name is not float and wiki_spouse_name is not float-%}
{%-set linespousm=Name+' జీవిత భాగస్వామి '+wiki_spouse_namef+'. '-%}{{linespousm}}{%-endif-%}
{%-if Child_Name is not float-%}
{%-set linecm='అతని సంతానం '+Child_Name+ '. '-%}{%-endif-%}{{linecm}}

{%-if Relatives is not float and lenrela is not float-%}
{%-if lenrela==1-%}
{%-set liner1m='చిత్ర పరిశ్రమలో ఇతడి బంధువు '+Relatives+'. '-%}{{liner1m}}
{%-else-%}
{%-set linerm='చిత్ర పరిశ్రమలో ఇతడి బంధువులు '+Relatives+'. '-%}{%-endif-%}{{linerm}}{%-endif-%}

{%-if DOD is not float-%}
{%-set linedm=DOD+' తేదీన మరణించాడు. '-%}{%-endif-%}{{linedm}}
{%-endif-%}

<ref name='info1'>[https://www.wikidata.org/wiki/{{wiki_data_id}} {{Name}}] wikiidlink </ref>

{%-endmacro-%}



{# career #}


{%- macro career(IMDB_id,name,wiki_data_id,length,Award_Outcome,Year_Of_The_Award,Award_Category,Award_Description,occup,occup1_num,occup2_num,occup3_num,occup4_num,debut_films,debut_filmseng,latest_films,latest_filmseng,Gender,occuplen) -%}
{{- '\n' -}}
{{- "==కెరీర్==" -}}
{{- '\n' -}}

{# career female #}
{%- if Gender=='female' -%}
    {%- for i in range(0,occuplen*3,3) -%}
        {%- if occup[i//3]=='సంగీత విభాగము' -%}
            {%- set line1= [debut_films[i],' లో ',debut_films[i+1],' సినిమాతో ',occup[i//3],' గా అడుగు పెట్టింది. '] |join('') -%}
            {{line1}}
        
        {%- elif debut_films[i] !='' and debut_films[i+1] !='' and occup[i//3]!='' and occup[i//3]!='Thanks' -%}
            {%- set line1= [debut_films[i],' లో ',debut_films[i+1], ' (',debut_filmseng[i+1],')' ,' సినిమాతో ',occup[i//3],' గా తెరంగ్రేటం చేసింది. '] |join('') -%}
            {%- set line2= [debut_films[i],' లో ',debut_films[i+1], ' (',debut_filmseng[i+1],')' ,' సినిమాతో ',occup[i//3],' గా ప్రజలకు పరిచయం అయింది. ']|join('') -%}
            {%- set line3= [debut_films[i],' లో ',debut_films[i+1], ' (',debut_filmseng[i+1],')' ,' సినిమాతో ',occup[i//3],' గా తొలి పరిచయం అయింది. ']|join('') -%}
            {{ [ line1, line2, line3 ] | random }}

        {%- elif debut_films[i] =='' and debut_films[i+1] !='' and occup[i//3]!='' and occup[i//3]!='Thanks' -%}
          {%- set line1= [debut_films[i+1], ' (',debut_filmseng[i+1],')' ,' సినిమాతో ',occup[i//3],' గా తెరంగ్రేటం చేసింది. '] |join('') -%}
          {{line1}}
        {%-endif-%}
    {%-endfor -%}
    {%- if latest_films[1] !=''-%}
        ఇటీవల{{- ' ' -}}
        {%- for i in range(0,occuplen*3,3) -%}
            {%- if debut_films[i+1]!=latest_films[i+1]-%}
            {%- if occup[i//3]=='సంగీత విభాగము'-%}
                 {{latest_films[i+1]}} ({{latest_filmseng[i+1]}}) లో {{occup[i//3]}} తో  
            {%- elif  latest_films[i+1] !='' and occup[i//3]!='Self' and occup[i//3]!='Thanks' and  occup[i//3]!='' -%}
                 {{latest_films[i+1]}} ({{latest_filmseng[i+1]}}) లో {{occup[i//3]}} గా 
            {%- endif -%}
            {%- endif -%}
        {%-endfor -%}
        {{- ' ' -}}ప్రజల ముందుకు వచ్చింది.
    {%-endif-%}
    {{- '\n\n' -}}
    {%- if  occuplen !=0 and occup[1] !='Self' and occup[1] !='Thanks' and occup1_num!=0 -%}
    తన సినీ జీవితంలో ఇప్పటివరకు {{occup[0]}} గా {{occup1_num}} 
    {%- if occup[1] !='' and occup[1] !='Self' and occup[1] !='Thanks' and occup2_num!=0 -%}
    ,{{occup[1]}} గా {{occup2_num}} {%- endif -%}
    {%- if occup[2] !='' and occup[2] !='Self' and occup[2] !='Thanks' and occup3_num!=0 -%}
    , {{occup[2]}} గా {{occup3_num}}{%- endif -%}
    {%- if occup[3] !=''and occup[3] !='Self' and occup[3] !='Thanks' and occup4_num!=0 -%}
    , {{occup[3]}} గా {{occup4_num}} {%- endif -%}
    సినిమాలు చేసింది. {%- endif -%} 
    మొత్తం గా {{occup1_num+occup2_num+occup3_num+occup4_num}} సినిమాలకు పని చేసింది <ref name='careerfilmo'>[https://www.imdb.com/name/{{IMDB_id}}/?nmdp=1&ref_=nm_ql_4#filmography/ {{Name}}]</ref>.


    {%- for i in range(0,length) -%}
    {%- if  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]!='' and Award_Category[i]!='' and Award_Description[i]!='' -%}
    తన సినీ జీవితంలో {{Year_Of_The_Award[i]}} సంవత్సరం లో {{Award_Description[i]}} కి  గాను {{Award_Category[i]}} కై విజేతగా నిలిచింది.
    {% break %}
    {%- elif  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]=='' and Award_Category[i]!='' and Award_Description[i]!='' -%}
    తన సినీ జీవితంలో {{Award_Description[i]}} కి  గాను {{Award_Category[i]}} కై విజేతగా నిలిచింది.
    {% break %}
    {%- elif  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]!='' and Award_Category[i]=='' and Award_Description[i]!='' -%}
    తన సినీ జీవితంలో {{Year_Of_The_Award[i]}} సంవత్సరం లో {{Award_Description[i]}} కి  గాను విజేతగా నిలిచింది.
    {% break %}
    {%- elif  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]!='' and Award_Category[i]!='' and Award_Description[i]=='' -%}
    తన సినీ జీవితంలో {{Year_Of_The_Award[i]}} సంవత్సరం లో {{Award_Category[i]}} కై విజేతగా నిలిచింది.
    {% break %}
    {%- endif -%}
    {%-endfor -%}


{%- endif -%}
{# career male#}
{%- if Gender=='male' -%}
    {%- for i in range(0,occuplen*3,3) -%}
        {%- if occup[i//3]=='సంగీత విభాగము' and debut_films[i] !='' and debut_films[i+1] !=''  -%}
            {%- set line1= [debut_films[i],' లో ',debut_films[i+1],' సినిమాతో ',occup[i//3],' గా అడుగు పెట్టాడు. '] |join('') -%}
            {{line1}}

        
        
        {%- elif debut_films[i] !='' and debut_films[i+1] !='' and occup[i//3]!='' and occup[i//3]!='Thanks' -%}
            {%- set line1= [debut_films[i],' లో ',debut_films[i+1], ' (',debut_filmseng[i+1],')' ,' సినిమాతో ',occup[i//3],' గా తెరంగ్రేటం చేశాడు. '] |join('') -%}
            {%- set line2= [debut_films[i],' లో ',debut_films[i+1], ' (',debut_filmseng[i+1],')' ,' సినిమాతో ',occup[i//3],' గా ప్రజలకు పరిచయం అయ్యాడు. ']|join('') -%}
            {%- set line3= [debut_films[i],' లో ',debut_films[i+1], ' (',debut_filmseng[i+1],')' ,' సినిమాతో ',occup[i//3],' గా తొలి పరిచయం అయ్యాడు. ']|join('') -%}
            {{ [ line1, line2, line3 ] | random }}

         {%- elif debut_films[i] =='' and debut_films[i+1] !='' and occup[i//3]!='' and occup[i//3]!='Thanks' -%}
          {%- set line1= [debut_films[i+1], ' (',debut_filmseng[i+1],')' , ' సినిమాతో ',occup[i//3],' గా తెరంగ్రేటం చేశాడు. '] |join('') -%}
          {{line1}}
        {%-endif-%}
    {%-endfor -%}
    
    {%- if latest_films[1] !=''  -%}
        ఇటీవల 
        {%- for i in range(0,occuplen*3,3) -%}
            {%- if debut_films[i+1] !=latest_films[i+1]-%}
            {%- if occup[i//3]=='సంగీత విభాగము' -%}
                {{- ' ' -}}{{latest_films[i+1]}} ({{latest_filmseng[i+1]}}) లో {{occup[i//3]}} తో  
            {%- elif  latest_films[i+1] !='' and occup[i//3]!='Self' and occup[i//3]!='Thanks' and  occup[i//3]!='' -%}
                 {{- ' ' -}}{{latest_films[i+1]}} ({{latest_filmseng[i+1]}}) లో {{occup[i//3]}} గా 
            {%- endif -%}
            {%-endif-%}
        {%-endfor -%}
        {{- ' ' -}}ప్రజల ముందుకు వచ్చాడు.
    {%-endif-%}
    {{- '\n\n' -}}
    {%- if  occuplen !=0 and occup[1] !='Self' and occup[1] !='Thanks' and occup1_num!=0 -%}
    తన సినీ జీవితంలో ఇప్పటివరకు {{occup[0]}} గా {{occup1_num}} 
    {%- if occup[1] !='' and occup[1] !='Self' and occup[1] !='Thanks' and occup2_num!=0  -%}
    ,{{occup[1]}} గా {{occup2_num}} {%- endif -%}
    {%- if occup[2] !=''and occup[2] !='Self' and occup[2] !='Thanks' and occup3_num!=0  -%}
    , {{occup[2]}} గా {{occup3_num}}{%- endif -%}
    {%- if occup[3] !='' and occup[3] !='Self' and occup[3] !='Thanks' and occup4_num!=0-%}
    , {{occup[3]}} గా {{occup4_num}} {%- endif -%} 
    {{- ' ' -}}సినిమాలు చేసాడు. {%- endif -%} 
    మొత్తం గా {{occup1_num+occup2_num+occup3_num+occup4_num}} సినిమాలకు పని చేసాడు<ref name='careerfilmo'>[https://www.imdb.com/name/{{IMDB_id}}/?nmdp=1&ref_=nm_ql_4#filmography/ {{Name}}]</ref>.

    {%- for i in range(0,length) -%}
    {%- if  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]!='' and Award_Category[i]!='' and Award_Description[i]!='' -%}
    తన సినీ జీవితంలో {{Year_Of_The_Award[i]}} సంవత్సరం లో {{Award_Description[i]}} కి  గాను {{Award_Category[i]}} కై విజేతగా నిలిచాడు.
    {% break %}
    {%- elif  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]=='' and Award_Category[i]!='' and Award_Description[i]!='' -%}
    తన సినీ జీవితంలో {{Award_Description[i]}} కి  గాను {{Award_Category[i]}} కై విజేతగా నిలిచాడు.
    {% break %}
    {%- elif  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]!='' and Award_Category[i]=='' and Award_Description[i]!='' -%}
    తన సినీ జీవితంలో {{Year_Of_The_Award[i]}} సంవత్సరం లో {{Award_Description[i]}} కి  గాను విజేతగా నిలిచాడు.
    {% break %}
    {%- elif  Award_Outcome[i]=='Winner' and Year_Of_The_Award[i]!='' and Award_Category[i]!='' and Award_Description[i]=='' -%}
    తన సినీ జీవితంలో {{Year_Of_The_Award[i]}} సంవత్సరం లో {{Award_Category[i]}} కై విజేతగా నిలిచాడు.
    {% break %}
    {%- endif -%}
    {%-endfor -%}

{%- endif -%}

{%- endmacro -%}



{# filmo #}
   {#- name, occupations, count, movie_name, film_year, movieid  -#}
   {%- macro filmo(IMDB_id,Name,filmo_occupationfilmo,filmo_all_film_ocupations_filmo,latest_films_filmo,occup1_num,occup1_films,occup2_num,occup2_films,occup3_num,occup3_films,occup4_num,occup4_films,occup1_filmseng,occup2_filmseng,occup3_filmseng,occup4_filmseng,debut_films_filmo) -%}
    {{- '\n\n' -}}
    {{- "==ఫిల్మోగ్రఫీ==" -}}
    
       
        {{- '\n\n' -}}
        {%- if Gender == 'female' -%}
            {%- if filmo_all_film_ocupations_filmo[0]=='' -%}
            
            {%- else -%}
            
                {{- '\n' -}}
                {%- if occup1_num>=15 -%}
                    {%- if filmo_all_film_ocupations_filmo[0] != float -%}
                    {%- set st=occup1_num|string -%}
                    ===={{filmo_all_film_ocupations_filmo[0]}}==== 
                    {{- '\n' -}}
                        {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[0]+ ' గా పని చేసింది. ',
                                            filmo_all_film_ocupations_filmo[0]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}{{- '\n' -}}
                        
                        {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[0] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                            filmo_all_film_ocupations_filmo[0]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}<ref name='filmo'>[https://www.imdb.com/name/{{IMDB_id}}/?nmdp=1&ref_=nm_ql_4#filmography {{Name}}] filmography link</ref>
                         
                        {{- '\n' -}}
                            <div style="overflow-x: scroll;height : 40em;">
                                {| class = "wikitable"
                                    |-
                                    ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                    |-
                                    {%- for j in range(0,sam,3) -%}
                                        {%- if occup1_films[j]!='' -%}
                                            {%- set occup1=occup1_films[j] -%}
                                        {%- else -%}
                                            {% set occup1='-' %}
                                        {%- endif -%}
                                        |-
                                        | {{occup1}} || {{occup1_films[j+1]}}{{' ('}}{{occup1_filmseng[j+1]}}{{')'}} || [https://www.imdb.com/title/{{occup1_films[j+2]}}/ {{occup1_films[j+1]}} ]
                                        {{'\n'}}
                                        
                                        {%- endfor -%}

                                        |}</div>{{- '\n' -}}
                        {%- endif -%}
                    {%- else -%}
                        {%- if filmo_all_film_ocupations_filmo[0] != float -%}
                        {%- set st=occup1_num|string -%}
                        ===={{filmo_all_film_ocupations_filmo[0]}}==== {{- '\n' -}}
                       
                            {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[0]+ ' గా పని చేసింది. ',
                                                filmo_all_film_ocupations_filmo[0]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}{{- '\n' -}}
                            
                           
                            {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[0] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                                filmo_all_film_ocupations_filmo[0]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}<ref name='filmo'>[https://www.imdb.com/name/{{IMDB_id}}/?nmdp=1&ref_=nm_ql_4#filmography {{Name}}] filmography link</ref>
                            {{- '\n' -}}
                                
                                    {| class = "wikitable"
                                        |-
                                        ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                        |-
                                        {%- for j in range(0,sam,3) -%}
                                            {%- if occup1_films[j]!='' -%}
                                                {%- set occup1=occup1_films[j] -%}
                                            {%- else -%}
                                                {% set occup1='-' %}
                                            {%- endif -%}
                                            |-
                                            | {{occup1}} || {{occup1_films[j+1]}}{{' ('}}{{occup1_filmseng[j+1]}}{{')'}} || [https://www.imdb.com/title/{{occup1_films[j+2]}}/ {{occup1_films[j+1]}} ]
                                            {{'\n'}}
                                            
                                            {%- endfor -%}

                                            |}{{- '\n' -}}
                            {%- endif -%}
                {%- endif -%}
            {%- endif -%}

            

            {%- if filmo_all_film_ocupations_filmo[1]=='' -%}
            
            {%- else -%}
            
            {{- '\n' -}}
            {%- if occup2_num>=15 -%}
                    {%- if filmo_all_film_ocupations_filmo[1] != float -%}
                    {%- set st=occup2_num|string -%}
                    ===={{filmo_all_film_ocupations_filmo[1]}}==== {{-'\n'-}}
                        {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[1]+ ' గా పని చేసింది. ',
                                            filmo_all_film_ocupations_filmo[1]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}
                        {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[1] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                            filmo_all_film_ocupations_filmo[1]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                        {{- '\n' -}}
                            <div style="overflow-x: scroll;height : 40em;">
                                {| class = "wikitable"
                                    |-
                                    ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                    |-
                                    {%- for k in range(0,san,3) -%}
                                        {%- if occup2_films[k]!=''  -%}
                                            {%- set occup2=occup2_films[k] -%}
                                        {%- else -%}
                                            {% set occup2='-' %}
                                        {%- endif -%}
                                        
                                        |-
                                        | {{occup2}} || {{occup2_films[k+1]}}{{' ('}}{{occup2_filmseng[k+1]}}{{')'}} || [https://www.imdb.com/title/{{occup2_films[k+2]}}/ {{occup2_films[k+1]}} ]
                                        {{'\n'}}
                                        
                                    {%- endfor -%}
                                    
                                    |}</div>{{- '\n' -}}
                    {%- endif -%}
                    {%- else -%}
                    {%- if filmo_all_film_ocupations_filmo[1] != float -%}
                    {%- set st=occup2_num|string -%}
                        ===={{filmo_all_film_ocupations_filmo[1]}}==== {{- '\n' -}}
                        {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[1]+ ' గా పని చేసింది. ',
                                            filmo_all_film_ocupations_filmo[1]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}
                        
                        {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[1] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                            filmo_all_film_ocupations_filmo[1]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                        {{- '\n' -}}
                            
                                {| class = "wikitable"
                                    |-
                                    ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                    |-
                                    {%- for k in range(0,san,3) -%}
                                        {%- if occup2_films[k]!=''  -%}
                                            {%- set occup2=occup2_films[k] -%}
                                        {%- else -%}
                                            {% set occup2='-' %}
                                        {%- endif -%}
                                        
                                        |-
                                        | {{occup2}} || {{occup2_films[k+1]}}{{' ('}}{{occup2_filmseng[k+1]}}{{')'}} || [https://www.imdb.com/title/{{occup2_films[k+2]}}/ {{occup2_films[k+1]}} ]
                                        {{'\n'}}
                                        
                                    {%- endfor -%}
                                    
                                    |}{{- '\n' -}}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
            

            {%- if filmo_all_film_ocupations_filmo[2]=='' -%}
            
            {%- else -%}
            
            {{- '\n' -}}
            {%- if occup3_num>=15 -%}
                    {%- if filmo_all_film_ocupations_filmo[2] != float -%}
                    {%- set st=occup3_num|string -%}
                    ===={{filmo_all_film_ocupations_filmo[2]}}==== {{-'\n'-}}
                        {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[2]+ ' గా పని చేసింది. ',
                                            filmo_all_film_ocupations_filmo[2]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}
                       
                        {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[2] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                            filmo_all_film_ocupations_filmo[2]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                        {{- '\n' -}}
                            <div style="overflow-x: scroll;height : 40em;">
                                {| class = "wikitable"
                                    |-
                                    ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                    |-
                                    {%- for l in range(0,ran,3) -%}
                                        {%- if occup3_films[l]!=''  -%}
                                            {%- set occup3=occup3_films[l] -%}
                                        {%- else -%}
                                            {% set occup3='-' %}
                                        {%- endif -%}
                                        |-
                                        | {{occup3}} || {{occup3_films[l+1]}}{{' ('}}{{occup3_filmseng[l+1]}}{{')'}} || [https://www.imdb.com/title/{{occup3_films[l+2]}}/ {{occup3_films[l+1]}} ]
                                        {{'\n'}}
                                        
                                        
                                    {%- endfor -%}
                                    
                                    |}</div>{{- '\n' -}}
                    {%- endif -%}
                {%- else -%}
                    {%- if filmo_all_film_ocupations_filmo[2] != float -%}
                    {%- set st=occup3_num|string -%}
                        ===={{filmo_all_film_ocupations_filmo[2]}}==== {{- '\n' -}}
                        {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[2]+ ' గా పని చేసింది. ',
                                            filmo_all_film_ocupations_filmo[2]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}
                       
                        {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[2] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                            filmo_all_film_ocupations_filmo[2]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                        {{- '\n' -}}
                            
                                {| class = "wikitable"
                                    |-
                                    ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                    |-
                                    {%- for l in range(0,ran,3) -%}
                                        {%- if occup3_films[l]!=''  -%}
                                            {%- set occup3=occup3_films[l] -%}
                                        {%- else -%}
                                            {% set occup3='-' %}
                                        {%- endif -%}
                                        |-
                                        | {{occup3}} || {{occup3_films[l+1]}}{{' ('}}{{occup3_filmseng[l+1]}}{{')'}} || [https://www.imdb.com/title/{{occup3_films[l+2]}}/ {{occup3_films[l+1]}} ]
                                        {{'\n'}}
                                        
                                        
                                    {%- endfor -%}
                                    
                                    |}{{- '\n' -}}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
            

            {%- if filmo_all_film_ocupations_filmo[3]=='' -%}
            
            {%- else -%}
                
                {{- '\n' -}} 
                {%- if occup4_num>=15 -%}
                        {%- if filmo_all_film_ocupations_filmo[3] != float -%}
                        {%- set st=occup4_num|string -%}
                        ===={{filmo_all_film_ocupations_filmo[3]}}==== {{-'\n'-}}
                            {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[3]+ ' గా పని చేసింది. ',
                                                filmo_all_film_ocupations_filmo[3]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}
                            
                            {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[3] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                                filmo_all_film_ocupations_filmo[3]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                            {{- '\n' -}}
                                <div style="overflow-x: scroll;height : 40em;">
                                    {| class = "wikitable"
                                        |-
                                        ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                        |-
                                        {%- for q in range(0,man,3) -%}
                                            {%- if occup4_films[q]!=''  -%}
                                                {%- set occup4=occup4_films[q] -%}
                                            {%- else -%}
                                                {% set occup4='-' %}
                                            {%- endif -%}
                                            
                                            |-
                                            | {{occup4}} || {{occup4_films[q+1]}}{{' ('}}{{occup4_filmseng[q+1]}}{{')'}} || [https://www.imdb.com/title/{{occup4_films[q+2]}}/ {{occup4_films[q+1]}} ]
                                            {{'\n'}}
                                            
                                        {%- endfor -%}
                                        
                                        |}</div>
                        {{- '\n\n' -}}
                        {%- endif -%}
                {%- else -%}
                        {%- if filmo_all_film_ocupations_filmo[3] != float -%}
                        {%- set st=occup4_num|string -%}
                        ===={{filmo_all_film_ocupations_filmo[3]}}==== {{- '\n' -}}
                            {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[3]+ ' గా పని చేసింది. ',
                                                filmo_all_film_ocupations_filmo[3]+' గా '+st+' సినిమాలలో పని చేసింది. ']|random-%}{{filmorand}}

                            {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[3] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                                filmo_all_film_ocupations_filmo[3]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                            {{- '\n' -}}
                                
                                    {| class = "wikitable"
                                        |-
                                        ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                        |-
                                        {%- for q in range(0,man,3) -%}
                                            {%- if occup4_films[q]!=''  -%}
                                                {%- set occup4=occup4_films[q] -%}
                                            {%- else -%}
                                                {% set occup4='-' %}
                                            {%- endif -%}
                                            
                                            |-
                                            | {{occup4}} || {{occup4_films[q+1]}}{{' ('}}{{occup4_filmseng[q+1]}}{{')'}} || [https://www.imdb.com/title/{{occup4_films[q+2]}}/ {{occup4_films[q+1]}} ]
                                            {{'\n'}}
                                            
                                        {%- endfor -%}
                                        
                                        |}
                        {{- '\n\n' -}}
                        {%- endif -%}
                    {%- endif -%}
                {%- endif -%}
        {%- endif -%}

        {%- if Gender== 'male' -%}
        

        {%- if filmo_all_film_ocupations_filmo[0]=='' -%}
            
            {%- else -%}
            
            {{- '\n' -}}
            {%- if occup1_num>=15 -%}
                {%- if filmo_all_film_ocupations_filmo[0] != float -%}
                {%- set st=occup1_num|string -%}
                ===={{filmo_all_film_ocupations_filmo[0]}}==== {{- '\n' -}}
                    {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[0]+ ' గా పని చేశాడు. ',
                                        filmo_all_film_ocupations_filmo[0]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                    {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[0] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                        filmo_all_film_ocupations_filmo[0]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}} <ref name='filmo'>[https://www.imdb.com/name/{{IMDB_id}}/?nmdp=1&ref_=nm_ql_4#filmography {{Name}} filmography link]</ref>
                    {{- '\n' -}}
                        <div style="overflow-x: scroll;height : 40em;">
                            {| class = "wikitable"
                                |-
                                ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                |-
                                {%- for j in range(0,sam,3) -%}
                                {%- if occup1_films[j]!=''  -%}
                                        {%- set occup1=occup1_films[j] -%}
                                    {%- else -%}
                                        {% set occup1='-' %}
                                    {%- endif -%}
                                    |-
                                    | {{occup1}} || {{occup1_films[j+1]}}{{' ('}}{{occup1_filmseng[j+1]}}{{')'}} || [https://www.imdb.com/title/{{occup1_films[j+2]}}/ {{occup1_films[j+1]}} ]
                                    {{'\n'}}
                                {%- endfor -%}
                                
                                |}</div>{{- '\n' -}}
                {%- endif -%}
            {%- else -%}
                {%- if filmo_all_film_ocupations_filmo[0] != float -%}
                {%- set st=occup1_num|string -%}
                    ===={{filmo_all_film_ocupations_filmo[0]}}==== {{- '\n' -}}
                
                    {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[0]+ ' గా పని చేశాడు. ',
                                        filmo_all_film_ocupations_filmo[0]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                    {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[0] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                        filmo_all_film_ocupations_filmo[0]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}} <ref name='filmo'>[https://www.imdb.com/name/{{IMDB_id}}/?nmdp=1&ref_=nm_ql_4#filmography {{Name}} filmography link]</ref>
                    {{- '\n' -}}
                        
                            {| class = "wikitable"
                                |-
                                ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                |-
                                {%- for j in range(0,sam,3) -%}
                                {%- if occup1_films[j]!=''  -%}
                                        {%- set occup1=occup1_films[j] -%}
                                    {%- else -%}
                                        {% set occup1='-' %}
                                    {%- endif -%}
                                    |-
                                    | {{occup1}} || {{occup1_films[j+1]}}{{' ('}}{{occup1_filmseng[j+1]}}{{')'}} || [https://www.imdb.com/title/{{occup1_films[j+2]}}/ {{occup1_films[j+1]}} ]
                                    {{'\n'}}
                                {%- endfor -%}
                                
                                |}{{- '\n' -}}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
        

        {%- if filmo_all_film_ocupations_filmo[1]=='' -%}
            
            {%- else -%}
            
            {{- '\n' -}}
            {%- if occup2_num>=15 -%}
                {%- if filmo_all_film_ocupations_filmo[1] != float -%}
                {%- set st=occup2_num|string -%}
                ===={{filmo_all_film_ocupations_filmo[1]}}==== {{- '\n' -}}
                    {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[1]+ ' గా పని చేశాడు. ',
                                        filmo_all_film_ocupations_filmo[1]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                    {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[1] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                        filmo_all_film_ocupations_filmo[1]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                    {{- '\n' -}}
                        <div style="overflow-x: scroll;height : 40em;">
                            {| class = "wikitable"
                                |-
                                ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                |-
                                {%- for k in range(0,san,3) -%}
                                    {%- if occup2_films[k]!=''  -%}
                                        {%- set occup2=occup2_films[k] -%}
                                    {%- else -%}
                                        {% set occup2='-' %}
                                    {%- endif -%}
                                    
                                    |-
                                    | {{occup2}} || {{occup2_films[k+1]}}{{' ('}}{{occup2_filmseng[k+1]}}{{')'}} || [https://www.imdb.com/title/{{occup2_films[k+2]}}/ {{occup2_films[k+1]}} ]
                                    {{'\n'}}
                                    
                                {%- endfor -%}
                                
                                |}</div>{{- '\n' -}}
                {%- endif -%}
            {%- else -%}
                {%- if filmo_all_film_ocupations_filmo[1] != float -%}
                {%- set st=occup2_num|string -%}
                    ===={{filmo_all_film_ocupations_filmo[1]}}==== {{- '\n' -}}
                
                    {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[1]+ ' గా పని చేశాడు. ',
                                        filmo_all_film_ocupations_filmo[1]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                    {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[1] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                        filmo_all_film_ocupations_filmo[1]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                    {{- '\n' -}}
                        
                            {| class = "wikitable"
                                |-
                                ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                |-
                                {%- for k in range(0,san,3) -%}
                                    {%- if occup2_films[k]!=''  -%}
                                        {%- set occup2=occup2_films[k] -%}
                                    {%- else -%}
                                        {% set occup2='-' %}
                                    {%- endif -%}
                                    
                                    |-
                                    | {{occup2}} || {{occup2_films[k+1]}}{{' ('}}{{occup2_filmseng[k+1]}}{{')'}} || [https://www.imdb.com/title/{{occup2_films[k+2]}}/ {{occup2_films[k+1]}} ]
                                    {{'\n'}}
                                    
                                {%- endfor -%}
                                
                                |}{{- '\n' -}}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}

            {%- if filmo_all_film_ocupations_filmo[2]=='' -%}
            
            {%- else -%}
            
                        {{- '\n' -}}
                {%- if occup3_num>=15 -%}
                        {%- if filmo_all_film_ocupations_filmo[2] != float -%}
                        {%- set st=occup3_num|string -%}
                        ===={{filmo_all_film_ocupations_filmo[2]}}==== {{- '\n' -}}
                            {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[2]+ ' గా పని చేశాడు. ',
                                                filmo_all_film_ocupations_filmo[2]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                            {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[2] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                                filmo_all_film_ocupations_filmo[2]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                            {{- '\n' -}}
                                <div style="overflow-x: scroll;height : 40em;">
                                    {| class = "wikitable"
                                        |-
                                        ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                        |-
                                        {%- for l in range(0,ran,3) -%}
                                            {%- if occup3_films[l]!=''  -%}
                                                {%- set occup3=occup3_films[l] -%}
                                            {%- else -%}
                                                {% set occup3='-' %}
                                            {%- endif -%}
                                            |-
                                            | {{occup3}} || {{occup3_films[l+1]}}{{' ('}}{{occup3_filmseng[l+1]}}{{')'}} || [https://www.imdb.com/title/{{occup3_films[l+2]}}/ {{occup3_films[l+1]}} ]
                                            {{'\n'}}
                                            
                                        {%- endfor -%}
                                        
                                        |}</div>{{- '\n' -}}
                        {%- endif -%}
                {%- else -%}
                        {%- if filmo_all_film_ocupations_filmo[2] != float -%}
                        {%- set st=occup3_num|string -%}
                            ===={{filmo_all_film_ocupations_filmo[2]}}==== {{- '\n' -}}
                            {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[2]+ ' గా పని చేశాడు. ',
                                                filmo_all_film_ocupations_filmo[2]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                            {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[2] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                                filmo_all_film_ocupations_filmo[2]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                            {{- '\n' -}}
                                
                                    {| class = "wikitable"
                                        |-
                                        ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                        |-
                                        {%- for l in range(0,ran,3) -%}
                                            {%- if occup3_films[l]!=''  -%}
                                                {%- set occup3=occup3_films[l] -%}
                                            {%- else -%}
                                                {% set occup3='-' %}
                                            {%- endif -%}
                                            |-
                                            | {{occup3}} || {{occup3_films[l+1]}}{{' ('}}{{occup3_filmseng[l+1]}}{{')'}} || [https://www.imdb.com/title/{{occup3_films[l+2]}}/ {{occup3_films[l+1]}} ]
                                            {{'\n'}}
                                            
                                        {%- endfor -%}
                                        
                                        |}{{- '\n' -}}
                        {%- endif -%}
                {%- endif -%}
            {%- endif -%}
            
            
            {%- if filmo_all_film_ocupations_filmo[3]=='' -%}
            
            
            {%- else -%}
            
                    {{- '\n' -}}
                {%- if occup4_num>=15 -%}
                    {%- if filmo_all_film_ocupations_filmo[3] != float -%}
                    {%- set st=occup4_num|string -%}
                    ===={{filmo_all_film_ocupations_filmo[3]}}==== {{- '\n' -}}
                        {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[3]+ ' గా పని చేశాడు. ',
                                            filmo_all_film_ocupations_filmo[3]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                        {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[3] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                            filmo_all_film_ocupations_filmo[3]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                        {{- '\n' -}}
                            <div style="overflow-x: scroll;height : 40em;">
                                {| class = "wikitable"
                                    |-
                                    ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                    |-
                                    {%- for q in range(0,man,3) -%}
                                        {%- if occup4_films[q]!=''  -%}
                                            {%- set occup4=occup4_films[q] -%}
                                        {%- else -%}
                                            {% set occup4='-' %}
                                        {%- endif -%}
                                        
                                        |-
                                        | {{occup4}} || {{occup4_films[q+1]}}{{' ('}}{{occup4_filmseng[q+1]}}{{')'}} || [https://www.imdb.com/title/{{occup4_films[q+2]}}/ {{occup4_films[q+1]}} ]
                                        {{'\n'}}
                                        
                                    {%- endfor -%}
                                    
                                    |}</div>
                    {{- '\n' -}}
                    {%- endif -%}
                {%- else -%}
                    {%- if filmo_all_film_ocupations_filmo[3] != float -%}
                    {%- set st=occup4_num|string -%}
                        ===={{filmo_all_film_ocupations_filmo[3]}}==== {{- '\n' -}}
                        {%- set filmorand=[st+ ' సినిమాలలో ' +filmo_all_film_ocupations_filmo[3]+ ' గా పని చేశాడు. ',
                                            filmo_all_film_ocupations_filmo[3]+' గా '+st+' సినిమాలలో పని చేశాడు. ']|random-%}{{filmorand}}

                        {%- set filmorand=[Name+ ' ' +filmo_all_film_ocupations_filmo[3] +  ' గా పని చేసిన కొన్ని చిత్రాల జాబితా. ',
                                            filmo_all_film_ocupations_filmo[3]+' గా '+Name+' పని చేసిన కొన్ని చిత్రాల జాబితా. ']|random-%}{{filmorand}}
                        {{- '\n' -}}
                            
                                {| class = "wikitable"
                                    |-
                                    ! చిత్రం విడుదల సంవత్సరం !! చిత్రం పేరు  !! చిత్రం ఐయండీబీ లింకు
                                    |-
                                    {%- for q in range(0,man,3) -%}
                                        {%- if occup4_films[q]!=''  -%}
                                            {%- set occup4=occup4_films[q] -%}
                                        {%- else -%}
                                            {% set occup4='-' %}
                                        {%- endif -%}
                                        
                                        |-
                                        | {{occup4}} || {{occup4_films[q+1]}}{{' ('}}{{occup4_filmseng[q+1]}}{{')'}} || [https://www.imdb.com/title/{{occup4_films[q+2]}}/ {{occup4_films[q+1]}} ]
                                        {{'\n'}}
                                        
                                    {%- endfor -%}
                                    
                                    |}
                    {{- '\n\n' -}}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
        

        
    
    {%- endmacro -%}{{- '\n\n' -}}






    {#- year, award_outcome, award_name, award_description -#}

    {%- macro data(No_of_Awards,Name,IMDB_id) -%}
        {{- "==అవార్డులు==" -}}
        {{- '\n' -}}
        
            {{- '\n\n' -}}
    {%- if No_of_Awards is not float -%}
        {%- if Gender=='male' -%}
            
            {%- set awardrand= ['తన సినీ జీవితం లో ' +No_of_Awards+ ' చూపుతుంది. ',
                                No_of_Awards+' ని తన సినీ జీవితం లో పొందాడు. ']|random -%}{{awardrand}}<ref name='award'>[https://www.imdb.com/name/{{IMDB_id}}/awards?ref_=nm_ql_2 {{Name}} awards link]</ref>
            
        {%- endif -%}
        {%- if Gender=='female' -%}
       
            {%- set awardrand= ['తన సినీ జీవితం లో ' +No_of_Awards+ ' చూపుతుంది. ',
                                No_of_Awards+' ని తన సినీ జీవితం లో పొందింది. ']|random -%}{{awardrand}} <ref name='award'>[https://www.imdb.com/name/{{IMDB_id}}/awards?ref_=nm_ql_2 {{Name}} awards link]</ref>
            
        {%- endif -%}
        {%- endif -%}
         {{-'\n\n'-}}
     {%- endmacro -%}
     


     {%- macro n(Name) -%}
         {{Name}} అవార్డుల జాబితా.
         {{-'\n\n'-}}
     {%- endmacro -%}

     {%- macro awards(Year_Of_The_Award,Award_Outcome,Award_Category,Award_Categoryeng,Award_Description) -%}
        {%- if length>=15 -%}
        <div style="overflow-x: scroll;height : 40em;">
            {| class="wikitable sortable "
                ! scope="col" | సంవత్సరం
                ! scope="col" | అవార్డు పేరు
                ! scope="col" | అవార్డు వివరణ
                ! scope="col" | ఫలితం
            |-  
            {%- for i in range(length) -%}
                {%- if Year_Of_The_Award[i]!=''  -%}
                    {%- set a=Year_Of_The_Award[i] -%}
                {%- else -%}
                    {% set a='-' %}
                {%- endif -%}
                {%- if Award_Category[i]!=''  -%}
                    {% set b=[Award_Category[i],' (',Award_Categoryeng[i],')']|join('') %}
                {%- else -%}
                    {% set b='-' %}
                {%- endif -%}
                {%- if Award_Outcome[i]!=''  and Award_Outcome[i]=='Winner' -%}
                    {% set c='{{won|విజేత}}' %}
                {%- elif  Award_Outcome[i]!=''  and Award_Outcome[i]=='Nominee' -%}
                    {% set c='{{nom|పేర్కొనబడ్డాడు}}' %}
                {%- else -%}
                    {% set c='-' %}
                {%- endif -%}
                {%- if Award_Description[i]!=''  -%}
                    {% set d=Award_Description[i] %}
                {%- else -%}
                    {% set d='-' %}
                {%- endif -%}

                {{'\n'}}
                    | {{a}} || {{b}} || {{d}}  || {{c}}
                    |-
                    {{'\n'}}
                
                
            {%- endfor -%}
        

            |}{{- '\n\n' -}}

        {%- else -%}
            {| class="wikitable sortable "
                ! scope="col" | సంవత్సరం
                ! scope="col" | అవార్డు పేరు
                ! scope="col" | అవార్డు వివరణ
                ! scope="col" | ఫలితం
            |-  
            {%- for i in range(length) -%}
                {%- if Year_Of_The_Award[i]!=''  -%}
                    {%- set a=Year_Of_The_Award[i] -%}
                {%- else -%}
                    {% set a='-' %}
                {%- endif -%}
                {%- if Award_Category[i]!=''  -%}
                    {% set b=[Award_Category[i],' (',Award_Categoryeng[i],')']|join('') %}
                {%- else -%}
                    {% set b='-' %}
                {%- endif -%}
                {%- if Award_Outcome[i]!=''  and Award_Outcome[i]=='Winner' -%}
                    {% set c='{{won|విజేత}}' %}
                {%- elif  Award_Outcome[i]!=''  and Award_Outcome[i]=='Nominee' -%}
                    {% set c='{{nom|పేర్కొనబడ్డాడు}}' %}
                {%- else -%}
                    {% set c='-' %}
                {%- endif -%}
                {%- if Award_Description[i]!=''  -%}
                    {% set d=Award_Description[i] %}
                {%- else -%}
                    {% set d='-' %}
                {%- endif -%}

                {{'\n'}}
                    | {{a}} || {{b}} || {{d}}  || {{c}}
                    |-
                    {{'\n'}}
                
                
            {%- endfor -%}
        

            |}{{- '\n\n' -}}
        {%- endif -%}
            
        
     {%- endmacro -%}





{#ref#}

{%- macro references(IMDB_id,wiki_data_id) -%}
    {{- '\n\n' -}}
    {{- "==మూలాలు==" -}}
    {{- '\n' -}}
    {{'{{reflist}}'}}
{%- endmacro -%}

{#external links#}
{%- macro externallinks(name,facebookid,instaid,twitterid,IMDB_id) -%}
    {{- '\n' -}}
    {{- "==బాహ్య లింకులు==" -}}
    {{- '\n' -}}
    {%- if facebookid is not float -%}
        {{name}} ఫేసుబుక్ ఐడి: [https://www.facebook.com/{{facebookid}}/ {{facebookid}}]
        {{- '\n\n' -}}
    {%- endif -%}
    {%- if instaid is not float -%}
        {{name}} ఇంస్టాగ్రామ్ ఐడి: [https://www.instagram.com/{{instaid}}/?hl=en {{instaid}}]
        {{- '\n\n' -}}
    {%- endif -%}
    {%- if twitterid is not float -%}
        {{name}} ట్విట్టర్ ఐడి: [https://twitter.com/{{twitterid}}?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor {{twitterid}}]
        {{- '\n\n' -}}
    {%- endif -%}
        {{name}} ఐఎండిబి(IMDb) పేజీ: [https://www.imdb.com/name/{{IMDB_id}} {{IMDB_id}}] 
{%- endmacro -%}

















{#categories#}
{%- if wiki_family_name is not float -%}
[[Category:{{wiki_family_name}} ఇంటిపేరు గల చిత్రసీమ ప్రముఖులు]]
{% endif %}

{%- if Actor_POB is not float -%}
[[Category:{{Actor_POB}} నుండి ప్రముఖులు]]
{% endif %}

{%- if Star_Sign is not float -%}
[[Category:{{Star_Sign}} నక్షత్రం గుర్తు ప్రముఖులు]]
{% endif %}

{%- if wiki_occupation is not float -%}
[[Category:{{wiki_occupation[0]}}]] 
    {% endif %}

{%- if twitterid is not float -%}
[[Category:ట్విట్టర్ ఖాతాదారులు]] 
    {% endif %}

{%- if instaid is not float -%}
[[Category:ఇంస్టాగ్రామ్  ఖాతాదారులు]] 
    {% endif %}

{%- if wiki_DOB_year is not float -%}
[[Category:{{wiki_DOB_year}} జననాలు]]    
{% endif%}

{%- if Native_language is not float -%}
[[Category:{{Native_language}} సినిమా నటులు]]
{%endif%}

{%- if Award_Category is not float and award_outcome is not float -%}
{% if Award_Outcome[0]=='Winner'%}
[[category: {{Award_Category[0]}} పురస్కార గ్రహితలు]]{%endif%}
{%endif%}

{% for i in range(length) %}
{% if Award_Categoryeng[i]=='Filmfare Award' and Award_Outcome[i]=='Winner' %}
[[Category: ఫిలింఫేర్ అవార్డుల విజేతలు]]
{% break %}

{%endif%}{%endfor%}

{#function calling#}

{{ infobox(IMDB_id,Image,Name, Name_in_native_languageinfo, Birthname, Alternate_Name, wiki_DOB,DOD,Actor_POB, Genderinfo,Citizenship, wiki_occupation,
Work_period_start,wiki_family_name,twitterid,instaid,wiki_DOB_year,Work_period_end,Height,Star_Sign,Ethnic_group,wiki_spouse_name,Child_Name,Father_Name, Mother_Name,Wiki_commons_category,wiki_siblings,Relatives,Signature_image) }}

{{- introduction(IMDB_id,Name,Gender,filmo_occupation,filmo_all_film_ocupations,debut_filmsip,latest_filmsip,present_date,lenl,lenn,lenf,lenalter,Citizenship,lenc,Native_language,Languages_spoken,Name_in_native_language,debut_filmsf,latest_filmsf,occup1_num,occup2_num,occup3_num,occup4_num) }}

{{- personal_life(IMDB_id,wiki_data_id,Name,Gender,wiki_DOB,Actor_POB,Birthname,Alternate_Name,lensib,lenrela,Father_Name,Mother_Name,wiki_siblings,wiki_family_name,Relatives,wiki_spouse_namef,wiki_spouse_name,Child_Name,DOD) }}

{{- career(IMDB_id,name,wiki_data_id,length,Award_Outcome,Year_Of_The_Award,Award_Category,Award_Description,occup,occup1_num,occup2_num,occup3_num,occup4_num,debut_films,debut_filmseng,latest_films,latest_filmseng,Gender,occuplen) -}}

{{- filmo(IMDB_id,Name,filmo_occupation,filmo_all_film_ocupations_filmo,latest_films,occup1_num,occup1_films,occup2_num,occup2_films,occup3_num,occup3_films,occup4_num,occup4_films,occup1_filmseng,occup2_filmseng,occup3_filmseng,occup4_filmseng,debut_films) -}}
{{- data(No_of_Awards,Name,IMDB_id) -}}
{{- n(Name) -}}
{{- awards(Year_Of_The_Award,Award_Outcome,Award_Category,Award_Categoryeng,Award_Description) -}}

{{- references(IMDB_id,wiki_data_id) -}}

{{- externallinks(name,facebookid,instaid,twitterid,IMDB_id) -}}